{% assign sortedArticles = site.articles | sort: 'publication' %}
<ul class="articleList">
  {% for article in sortedArticles %}
    {% if article.category == page.YYYYMM %}
      <a class="ihbItem" href="{{ article.url }}">
        <li>
          <h4>{{ article.title }}</h4>
            {% if article.author %}By {% if article.author.size == 1 %}{{ article.author[0].given }} {{ article.author[0].family }}{% else %}{% for person in article.author %}{% if forloop.last == true %} and {% endif %}{{ person.given }} {{ person.family }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}{% endif %}
            {% if article.container-title %} in {{ article.container-title }}.{% endif %}{% if article.externalUrl %}<a href="{{ article.externalUrl }}" style="display: inline" target="_blank"> Link.</a>{% endif %}
        </li>
      </a>
    {% endif %}
  {% endfor %}
</ul>