{% assign sortedArticles = site.articles | sort: 'publication' %}
<ul class="articleList">
  {% for article in sortedArticles %}
    {% if article.category == page.YYYYMM %}
      <a class="ihbItem" href="{{ article.url }}">
        <li>
          <h4>{{ article.title }}</h4>
            {% if article.author %}By {% for person in article.author %}{{ person.given }} {{ person.family }}{% if forloop.last  == false %}, {% endif %}{% endfor %}<br>{% endif %}
            {% if article.container-title %}<img class="inlineIcon" src="/assets/images/journal.jpg" alt="A thin green book" width="25"/>In {{ article.container-title }}<br>{% endif %}
            {% if article.externalUrl %}<a href="{{ article.externalUrl }}" target="_blank"><img class="inlineIcon" src="/assets/images/link.png" alt="A link in a chain" width="25">Link</a>{% endif %}
        </li>
      </a>
    {% endif %}
  {% endfor %}
</ul>