{% assign sortedBooks = site.books | sort: 'title' %}
<button class="toggleBibList"></button>
<ul class="bookList">
  {% for book in sortedBooks %}
    {% if book.category == page.YYYYMM %}
      <a class="ihbItem" href="{{ book.url }}">
        <li>
          <h4>{{ book.title }}</h4>
          {% if book.author %}By {% if book.author.size == 1 %}{{ book.author[0].given }} {{ book.author[0].family }}{% else %}{% for person in book.author %}{% if forloop.last == true %} and {% endif %}{{ person.given }} {{ person.family }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}<br>{% endif %}
          {% if book.editor %}Edited by {% if book.editor.size == 1 %}{{ book.editor[0].given }} {{ book.editor[0].family }}{% else %}{% for person in book.editor %}{% if forloop.last == true %} and {% endif %}{{ person.given }} {{ person.family }}{% if forloop.last  == false %}, {% endif %}{% endfor %}{% endif %}<br>{% endif %}
          {% if book.externalUrl %}<a href="{{ book.externalUrl }}" target="_blank"><img class="inlineIcon" src="/assets/images/link.png" alt="A link in a chain" width="25">Link</a>{% endif %}
        </li>
      </a>
      {% if book.sections %}{% include sectionItemTemplate.html %}{% endif %}
    {% endif %}
  {% endfor %}
</ul>