{% assign sortedBooks = site.books | sort: 'title' %}
<ul class="bookList">
  {% for book in sortedBooks %}
    {% if book.category == page.YYYYMM %}
      <li>
        {% if book.externalUrl %}<a href="{{ book.externalUrl }}"><img src="/assets/images/link.png" alt="A link in a chain" width="25"></a>{% endif %}
        <a href="{{ book.url }}">
          <h4>{{ book.title }}</h4><br>
          <img src="/assets/images/author.jpg" alt="A green quill" width="25"/>{{ book.authors }}{{ book.editors }}<br>
          <img src="/assets/images/publisher.png" alt="A tall office building" width="25"/>{{ book.publisher }}<br>
        </a>
        {% include sectionItemTemplate.html %}
      </li>
    {% endif %}
  {% endfor %}
</ul>