{% assign sortedBooks = site.books | sort: 'title' %}
<ul class="bookList">
  {% for book in sortedBooks %}
    {% if book.category == page.YYYYMM %}
      <a class="ihbItem" href="{{ book.url }}">
        <li>
          <h4>{{ book.title }}</h4>
          {% if book.author %}By {% for person in book.author %}{{ person.given }} {{ person.family }}{% if forloop.last == false %}, {% endif %}{% endfor %}<br>{% endif %}
          {% if book.editor %}{% if book.editor.size > 1%}Eds. {% else %}Ed. {% endif %}{% for person in book.editor %}{{ person.given }} {{ person.family }}{% if forloop.last  == false %}, {% endif %}{% endfor %}<br>{% endif %}
          {% if book.externalUrl %}<a href="{{ book.externalUrl }}" target="_blank"><img class="inlineIcon" src="/assets/images/link.png" alt="A link in a chain" width="25">Link</a>{% endif %}
        </li>
        {% if book.sections %}{% include sectionItemTemplate.html %}{% endif %}
      </a>
    {% endif %}
  {% endfor %}
</ul>