{% for book in site.books %}
    {%- if book.id == include.id -%}
        <a href="{{ include.id }}">
            {%- if book.author -%}
                {%- if book.author.size == 1 -%}
                    {{ book.author[0].family }}, {{ book.author[0].given }}
                {%- else -%}
                    {%- for person in book.author -%}
                        {%- if forloop.last -%} and {%- endif -%}
                        {{ person.family }}, {{ person.given }}
                        {%- if forloop.last == false -%}, {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}.
            {%- endif -%}
            {%- if book.editor -%}
                {%- if book.editor.size == 1 -%}
                    Ed. {{ book.editor[0].family }}, {{ book.editor[0].given }}
                {%- else -%}
                    Eds. {%- for person in book.editor -%}
                        {%- if forloop.last -%} and {%- endif -%}
                        {{ person.family }}, {{ person.given }}
                        {%- if forloop.last == false -%}, {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}.
            {%- endif -%}
            <i>{{ book.title }}</i>. {%- if book.issued -%}{{ book.issued[0].year }}.{%- endif -%}
        </a>
    {%- endif -%}
{%- endfor -%}
{% for article in site.articles %}
    {%- if article.id == include.id -%}
        <a href="{{ include.id }}">
            {%- if article.author -%}
                {%- if article.author.size == 1 -%}
                    {{ article.author[0].family }}, {{ article.author[0].given }}
                {%- else -%}
                    {%- for person in article.author -%}
                        {%- if forloop.last -%} and {%- endif -%}
                        {{ person.family }}, {{ person.given }}
                        {%- if forloop.last == false -%}, {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}.
            {%- endif -%}
            <i>{{ article.title }}</i>. {%- if article.issued -%}{{ article.issued[0].year }}.{%- endif -%}
        </a>
    {%- endif -%}
{%- endfor -%}
{% for section in site.sections %}
    {%- if section.id == include.id -%}
        <a href="{{ include.id }}">
            {%- if section.author -%}
                {%- if section.author.size == 1 -%}
                    {{ section.author[0].family }}, {{ section.author[0].given }}
                {%- else -%}
                    {%- for person in section.author -%}
                        {%- if forloop.last -%} and {%- endif -%}
                        {{ person.family }}, {{ person.given }}
                        {%- if forloop.last == false -%}, {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}.
            {%- endif -%}
            <i>{{ section.title }}</i>. {%- if section.issued -%}{{ section.issued[0].year }}.{%- endif -%}
        </a>
    {%- endif -%}
{%- endfor -%}
{% for review in site.reviews %}
    {%- if review.id == include.id -%}
        <a href="{{ include.id }}">
            {%- if review.author -%}
                {%- if review.author.size == 1 -%}
                    {{ review.author[0].family }}, {{ review.author[0].given }}
                {%- else -%}
                    {%- for person in review.author -%}
                        {%- if forloop.last -%} and {%- endif -%}
                        {{ person.family }}, {{ person.given }}
                        {%- if forloop.last == false -%}, {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}.
            {%- endif -%}
            <i>{{ review.title }}</i>. {%- if review.issued -%}{{ review.issued[0].year }}.{%- endif -%}
        </a>
    {%- endif -%}
{%- endfor -%}
{% for source in site.sources %}
    {%- if source.id == include.id -%}
        <a href="{{ include.id }}">
            {%- if source.author -%}
                {%- if source.author.size == 1 -%}
                    {{ source.author[0].family }}, {{ source.author[0].given }}
                {%- else -%}
                    {%- for person in source.author -%}
                        {%- if forloop.last -%} and {%- endif -%}
                        {{ person.family }}, {{ person.given }}
                        {%- if forloop.last == false -%}, {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}.
            {%- endif -%}
            <i>{{ source.title }}</i>. {%- if source.issued -%}{{ source.issued[0].year }}.{%- endif -%}
        </a>
    {%- endif -%}
{%- endfor -%}