<script src="/assets/js/ihb.js"></script>
<script defer src="https://static.addtoany.com/menu/page.js"></script>
<h2 class="ihbSectionHeader"><img class="inlineIcon" src="/assets/images/books.png" alt="A stack of books" width="75"/>Books</h2>
{% include bookListTemplate.html %}
<h2 class="ihbSectionHeader"><img class="inlineIcon" src="/assets/images/articles.png" alt="A stack of papers" width="75"/>Articles</h2>
{% include articleListTemplate.html %}
<h2 class="ihbSectionHeader"><img class="inlineIcon" src="/assets/images/reviews.png" alt="Five stars in a row" width="75" height="25">Reviews</h2>
{% include reviewListTemplate.html %}
<h2 class="ihbSectionHeader">Share</h2>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_mastodon"></a>
    <a class="a2a_button_email"></a>
    <a class="a2a_button_bluesky"></a>
    <a class="a2a_button_x"></a>
</div>