<ul class="reviewList">
  {% for review in site.reviews %}
    {% if review.category == page.YYYYMM %}
    {% assign splitExtra = review.extra | split: "%%%" %}
      <li>
        <a href="{{ review.url }}">
          <h4>{{ splitExtra[1] }}</h4><br>
          <img src="/assets/images/author.jpg" alt="A green quill" width="25"/>Reviewed by {{ review.authors }}<br>
          {% if review.publication %}<img src="/assets/images/journal.jpg" alt="A thin green book" width="25"/>{{ review.publication }}{% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>