<ul class="reviewList">
  {% for review in site.reviews %}
    {% if review.categories contains page.YYYYMM %}
      <a class="ihbItem" href="{{ review.url }}">
        <li>
          {% if review.cleanTitle %}
            <h4>{{ review.title }}<br>Work reviewed: {{ review.workReviewed }}</h4>
          {% else %}
            <h4>{{ review.workReviewed }}</h4>
          {% endif %}
          {% if review.author %}reviewed by {% if review.author.size == 1 %}{{ review.author[0].given }} {{ review.author[0].family }}{% else %}{% for person in review.author %}{% if forloop.last == true %} and {% endif %}{{ person.given }} {{ person.family }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}{% endif %}
          {% if review.container-title %} in {{ review.container-title }}.{% endif %}
          {% if review.externalUrl %}<a href="{{ review.externalUrl }}" target="_blank"> Link</a><br>{% endif %}
        </li>
      </a>
    {% endif %}
  {% endfor %}
</ul>