{% assign sortedSections = site.sections | sort: 'chapter' %}
  {% for section in sortedSections %}
    {% if section.container-title == page.title %}
      <ul class="sectionList">
        <a class="ihbItem" href="{{ section.url }}">
          <li>
            <h4>{{ section.title }}</h4>
            {% if section.author %}By {% if section.author.size == 1 %}{{ section.author[0].given }} {{ section.author[0].family }}{% else %}{% for person in section.author %}{% if forloop.last == true %} and {% endif %}{{ person.given }} {{ person.family }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}<br>{% endif %}
            In {{ section.container-title }}
            {% if section.externalUrl %}<a href="{{ section.externalUrl }}" target="_blank">Link</a><br>{% endif %}
          </li>
        </a>
      </ul>
    {% endif %}
  {% endfor %}