{% assign sortedSections = site.sections | sort: 'chapter' %}
  {% for section in sortedSections %}
    {% if section.container-title == book.title %}
      <ul class="sectionList">
        <a class="ihbItem" href="{{ section.url }}">
          <li>
            <h4>{{ section.title }}</h4><br>
            <img class="inlineIcon" src="/assets/images/author.jpg" alt="A green quill" width="25"/>{{ section.author[0].given }} {{ section.author[0].family }}
          </li>
        </a>
      </ul>
    {% endif %}
  {% endfor %}